{% extends 'home_1/__base__.html' %}

{% block content %}

      
  <link href="/static/wx/css/index_merger20180316.css" rel="stylesheet">
      
  <!-- 20171128修改 start -->
  <div class="wx_module_w">
    <div class="wx_module_list">
        <!-- 品牌官网 -->
        <dl class="wx_module_item wx_module_item_8">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_8"></span>
            <h1 class="title_module_item_default">品牌官网</h1>
            <div class="text_module_item_default">
              <p>海量模版 自定义编辑</p>
              <p>彰显专属的品牌形象</p>
            </div>
          </dt>

          <dd class="wx_module_item_hover wx_module_item_hover_8 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>海量模版\可视化装修</p>
                <p>所见即所得 自定义编辑</p>
                <p>30多个行业 百套精美模版</p>
              </div>
              <div class="w50w">
                 <p>打造独一无二的专属官网</p> 
                 <p>展现业务\彰显品牌</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 新零售 -->
        <dl class="wx_module_item wx_module_item_1">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_1"></span>
            <h1 class="title_module_item_default">新零售</h1>
            <div class="text_module_item_default">
              <p>商城  营销  会员  门店</p>
              <p>全方位助力新零售转型</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_1 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>商城、营销、会员管理</p>
                <p>门店自提\门店发货</p>
                <p>线上线下一体化经营</p>
              </div>
              <div class="w50w">
                 <p>支持直营\加盟等<br>门店连锁模式</p> 
                 <p>助力新零售转型升级</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>            
          </dd>
        </dl>

        <!-- 新餐饮 -->
        <dl class="wx_module_item wx_module_item_2">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_2"></span>
            <h1 class="title_module_item_default">新餐饮</h1>
            <div class="text_module_item_default">
              <p>订座 堂吃点餐 外卖</p>
              <p>前厅后厨外卖一体化</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_2 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>完美解决各类餐饮门店的<br>接单\收银\后厨问题</p>
                <p>支持订座\堂吃点餐\外卖</p>
              </div>
              <div class="w50w">
                 <p>手机端订单提醒</p> 
                 <p>无缝对接达达配送</p>
              </div>
              <a href="/guestbook/show/" class="btn_module_item">立即咨询</a>
            </div>
          </dd>
        </dl>

        <!-- 新美业 -->
        <dl class="wx_module_item wx_module_item_3">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_3"></span>
            <h1 class="title_module_item_default">新美业</h1>
            <div class="text_module_item_default">
              <p>技师预约 在线支付</p>
              <p>到店 上门服务 人员管理</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_3 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>技师1对1预约</p>
                <p>在线支付</p>
                <p>到店服务\上门服务</p>
              </div>
              <div class="w50w">
                 <p>充分利用服务资源</p> 
                 <p>方便人员管理</p>
                 <p>提升转化</p>
              </div>
              <a href="/guestbook/show/" class="btn_module_item">立即咨询</a>
            </div>
          </dd>
        </dl>

        <!-- 新电商 -->
        <dl class="wx_module_item wx_module_item_4">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_4"></span>
            <h1 class="title_module_item_default">新电商</h1>
            <div class="text_module_item_default">
              <p>快速搭建在线商城</p>
              <p>可视化装修 多爆营销插件</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_4 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>快速搭建在线商城</p>
                <p>可视化装修</p>
                <p>多种爆款营销插件</p>
              </div>
              <div class="w50w">
                 <p>提升流量和销量</p> 
                 <p>加速交易转化</p>
                 <p>拼团\秒杀\促销\满减</p> 
                 <p>配合节日场景营销</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 鲜花蛋糕 -->
        <dl class="wx_module_item wx_module_item_5">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_5"></span>
            <h1 class="title_module_item_default">鲜花蛋糕</h1>
            <div class="text_module_item_default">
              <p>店铺展示 限时秒杀 预订</p>
              <p>上门自提 门店配送</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_5 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>店铺展示\限时秒杀</p>
                <p>在线预订\门店发货</p>
                <p>上门自提\门店配送</p>
                <p>快速搭建行业特色商城</p>
              </div>
              <div class="w50w">
                 <p>利用社交营销</p> 
                 <p>快速传播\吸引客户</p>
                 <p>促进转化</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>


        <!-- 生鲜果蔬 -->
        <dl class="wx_module_item wx_module_item_6">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_6"></span>
            <h1 class="title_module_item_default">生鲜果蔬</h1>
            <div class="text_module_item_default">
              <p>门店快速收银 记账</p>
              <p>离店在线点单 店铺配送</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_6 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>门店快速收银、记账</p>
                <p>离店在线点单</p>
                <p>店铺配送</p>
              </div>
              <div class="w50w">
                 <p>扩大销售机会</p> 
                 <p>提升单客贡献</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 服饰鞋包 -->
        <dl class="wx_module_item wx_module_item_7">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_7"></span>
            <h1 class="title_module_item_default">服饰鞋包</h1>
            <div class="text_module_item_default">
              <p>限时秒杀 领券立减</p>
              <p>新品推荐 门店同款</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_7 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>限时秒杀\领券立减</p>
                <p>新品推荐\门店同款</p>
              </div>
              <div class="w50w">
                 <p>定制适合自己的营销方案</p> 
                 <p>吸引客流\提升转化</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 教育培训 -->
        <dl class="wx_module_item wx_module_item_9">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_9"></span>
            <h1 class="title_module_item_default">教育培训</h1>
            <div class="text_module_item_default">
              <p>精品课程 预约体验 名师风采</p>
              <p>课程预订 查分 品牌推广</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_9 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>精品课程\预约体验</p>
                <p>名师风采\联系我们</p>
                <p>课程预订\查分</p>
              </div>
              <div class="w50w">
                 <p>全方位展现机构实力</p> 
                 <p>实现学员招募\品牌推广</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 汽车服务 -->
        <dl class="wx_module_item wx_module_item_10">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_10"></span>
            <h1 class="title_module_item_default">汽车服务</h1>
            <div class="text_module_item_default">
              <p>预约保养 配件商城 </p>
              <p>门店导航 试驾 报价</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_10 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>预约保养\配件商城</p>
                <p>门店导航\试驾活动</p>
                <p>车型报价</p>
              </div>
              <div class="w50w">
                 <p>打造高端舒适企业形象</p> 
                 <p>抓住目标客户眼球</p>
              </div>
              <a href="/guestbook/show/" class="btn_module_item">立即咨询</a>
            </div>
          </dd>
        </dl>

        <!-- 装饰装修 -->
        <dl class="wx_module_item wx_module_item_11">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_11"></span>
            <h1 class="title_module_item_default">装饰装修</h1>
            <div class="text_module_item_default">
              <p>装饰风格 品牌专区 预约</p>
              <p>拼团采购 联系设计师</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_11 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>装饰风格\品牌专区</p>
                <p>预约到店\拼团采购</p>
                <p>联系设计师</p>
              </div>
              <div class="w50w">
                 <p>打造创意家居品牌</p> 
                 <p>无缝衔接线上线下服务</p>
                 <p>提升转化</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 生产制造 -->
        <dl class="wx_module_item wx_module_item_12">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_12"></span>
            <h1 class="title_module_item_default">生产制造</h1>
            <div class="text_module_item_default">
              <p>行业资讯 产品展示</p>
              <p>招商合作 渠道服务</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_12 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>行业资讯\产品展示</p>
                <p>招商合作\渠道服务</p>
              </div>
              <div class="w50w">
                 <p>搭建高端大气官网</p> 
                 <p>彰显企业形象</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>


        <!-- 数码家电 -->
        <dl class="wx_module_item wx_module_item_13">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_13"></span>
            <h1 class="title_module_item_default">数码家电</h1>
            <div class="text_module_item_default">
              <p>新品上市 顾问服务</p>
              <p>活动促销 上门服务</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_13 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>拼团、限时秒杀、玩转积分</p>
                <p>门店体验、门店配送</p>
              </div>
              <div class="w50w">
                 <p>线上采购、门店自提</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>            
          </dd>
        </dl>

        <!-- 家居家纺 -->
        <dl class="wx_module_item wx_module_item_14">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_14"></span>
            <h1 class="title_module_item_default">家居家纺</h1>
            <div class="text_module_item_default">
              <p>热卖商品 新品推荐</p>
              <p>拼团秒杀  门店配送</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_14 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>热卖商品、新品推荐</p>
                <p>门店自提门店配送</p>
              </div>
              <div class="w50w">
                 <p>拼团秒杀、满减、优惠券</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>            
          </dd>
        </dl>

        <!-- 日用百货 -->
        <dl class="wx_module_item wx_module_item_15">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_15"></span>
            <h1 class="title_module_item_default">日用百货</h1>
            <div class="text_module_item_default">
              <p>电子会员卡 满减促销</p>
              <p>在线领券 玩转积分</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_15 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>电子会员卡提升客户满意度</p>
                <p>积分鼓励客户复购到店</p>
              </div>
              <div class="w50w">
                <p>爆款营销活动提升销量</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 婚庆服务 -->
        <dl class="wx_module_item wx_module_item_16">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_16"></span>
            <h1 class="title_module_item_default">婚庆服务</h1>
            <div class="text_module_item_default">
              <p>婚礼策划 精彩视频</p>
              <p>精选案例 在线预订</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_16 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>婚礼策划、电子请帖</p>
                <p>婚车租赁、婚礼跟妆</p>
              </div>
              <div class="w50w">
                <p>精选案例、在线预订</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 婚纱摄影 -->
        <dl class="wx_module_item wx_module_item_17">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_17"></span>
            <h1 class="title_module_item_default">婚纱摄影</h1>
            <div class="text_module_item_default">
              <p>作品展示 门店导航</p>
              <p>在线预约 套餐预订</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_17 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>作品展示</p>
                <p>在线预约</p>
              </div>
              <div class="w50w">
                 <p>套餐预订</p>
                 <p>门店导航</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 旅游 -->
        <dl class="wx_module_item wx_module_item_18">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_18"></span>
            <h1 class="title_module_item_default">旅游</h1>
            <div class="text_module_item_default">
              <p>门票预订 景点展示</p>
              <p>旅游攻略 地图指南</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_18 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>门票预订</p>
                <p>旅游攻略</p>
              </div>
              <div class="w50w">
                 <p>景点展示</p>
                 <p>地图指南</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 房产 -->
        <dl class="wx_module_item wx_module_item_19">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_19"></span>
            <h1 class="title_module_item_default">房产</h1>
            <div class="text_module_item_default">
              <p>政策解读 推荐楼盘</p>
              <p>交易动态 在线咨询</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_19 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>政策解读、推荐楼盘</p>
                <p>交易动态、在线咨询</p>
              </div>
              <div class="w50w">
                 <p>楼盘展示、预约看房</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 金融 -->
        <dl class="wx_module_item wx_module_item_20">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_20"></span>
            <h1 class="title_module_item_default">金融</h1>
            <div class="text_module_item_default">
              <p>信贷政策 预约办卡</p>
              <p>积分兑换 本地优惠</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_20 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>信贷政策</p>
                <p>积分兑换</p> 
              </div>
              <div class="w50w">
                 <p>预约办卡</p>
                 <p>本地优惠</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 医疗健康 -->
        <dl class="wx_module_item wx_module_item_21">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_21"></span>
            <h1 class="title_module_item_default">医疗健康</h1>
            <div class="text_module_item_default">
              <p>医护风采 在线预约</p>
              <p>健康常识 保健食品</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_21 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>产品预订、挂号预约</p>
                <p>医护风采、企业展示</p>
              </div>
              <div class="w50w">
                 <p>健康常识、保健食品</p>
              </div>
              <a href="/guestbook/show/" target="_blank" class="btn_module_item">立即咨询</a>
            </div>
          </dd>
        </dl>

        <!-- 健身运动 -->
        <dl class="wx_module_item wx_module_item_22">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_22"></span>
            <h1 class="title_module_item_default">健身运动</h1>
            <div class="text_module_item_default">
              <p>在线办卡 预约教练</p>
              <p>在线课程 店铺展示</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_22 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>店铺展示、预约教练</p>
                <p>在线课程、在线购卡</p>
              </div>
              <div class="w50w">
                 <p>会员积分、商品销售</p>
              </div>
              <a href="/guestbook/show/" target="_blank" class="btn_module_item">立即咨询</a>
            </div>
          </dd>
        </dl>

        <!-- 洗浴按摩 -->
        <dl class="wx_module_item wx_module_item_23">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_23"></span>
            <h1 class="title_module_item_default">洗浴按摩</h1>
            <div class="text_module_item_default">
              <p>会员办卡 技师预约</p>
              <p>在线支付 门店展示</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_23 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>门店展示</p>
                <p>技师风采</p>
                <p>限时活动</p>
              </div>
              <div class="w50w">
                 <p>门店导航</p> 
                 <p>在线预约</p>
                 <p>优惠办卡</p>
              </div>
              <a href="/guestbook/show/" target="_blank" class="btn_module_item">立即咨询</a>
            </div>
          </dd>
        </dl>

        <!-- 家政服务 -->
        <dl class="wx_module_item wx_module_item_24">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_24"></span>
            <h1 class="title_module_item_default">家政服务</h1>
            <div class="text_module_item_default">
              <p>热销服务 在线咨询</p>
              <p>在线预约 套餐购买</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_24 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>附近门店、企业展示</p>
                <p>热销服务 在线咨询</p>
              </div>
              <div class="w50w">
                 <p>在线预约 套餐购买</p> 
              </div>
              <a href="/guestbook/show/" target="_blank" class="btn_module_item">立即咨询</a>
            </div>
          </dd>
        </dl>

        <!-- 票务 -->
        <dl class="wx_module_item wx_module_item_25">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_25"></span>
            <h1 class="title_module_item_default">票务</h1>
            <div class="text_module_item_default">
              <p>票务信息 在线咨询</p>
              <p>在线预订 会员中心</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_25 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>票务信息</p>
                <p>在线咨询</p>
              </div>
              <div class="w50w">
                 <p>在线预订</p> 
                 <p>会员中心</p>
              </div>
              <a href="/guestbook/show/" target="_blank" class="btn_module_item">立即咨询</a>
            </div>            
          </dd>
        </dl>

        <!-- 酒店 -->
        <dl class="wx_module_item wx_module_item_26">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_26"></span>
            <h1 class="title_module_item_default">酒店</h1>
            <div class="text_module_item_default">
              <p>酒店展示 酒店预订</p>
              <p>地图导航 在线咨询</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_26 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>酒店用品销售</p>
                <p>酒店展示、酒店预订</p>
              </div>
              <div class="w50w">
                 <p>地图导航、在线咨询</p> 
              </div>
              <a href="/home/myregister/" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- KTV -->
        <dl class="wx_module_item wx_module_item_27">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_27"></span>
            <h1 class="title_module_item_default">KTV</h1>
            <div class="text_module_item_default">
              <p>门店展示 门店导航</p>
              <p>预订包厢 限时团购</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_27 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>门店展示</p>
                <p>预订包厢</p>
              </div>
              <div class="w50w">
                 <p>门店导航</p> 
                 <p>限时团购</p> 
              </div>
              <a href="/guestbook/show/" class="btn_module_item">立即咨询</a>
            </div>
          </dd>
        </dl>

        <!-- 酒水茶饮 -->
        <dl class="wx_module_item wx_module_item_28">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_28"></span>
            <h1 class="title_module_item_default">酒水茶饮</h1>
            <div class="text_module_item_default">
              <p>热卖商品 新品推荐</p>
              <p>拼团秒杀 门店配送</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_28 moveLeft">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>热卖商品</p>
                <p>新品推荐</p>
              </div>
              <div class="w50w">
                 <p>拼团秒杀</p> 
                 <p>满减、优惠券</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 广告设计 -->
        <dl class="wx_module_item wx_module_item_29">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_29"></span>
            <h1 class="title_module_item_default">广告设计</h1>
            <div class="text_module_item_default">
              <p>作品展示 在线咨询</p>
              <p>预约到店 在线销售</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_29 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>作品展示</p>
                <p>在线咨询</p>
              </div>
              <div class="w50w">
                 <p>预约到店</p> 
                 <p>在线销售</p>
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>

        <!-- 机械制造 -->
        <dl class="wx_module_item wx_module_item_30">
          <dt class="wx_module_item_default">
            <span class="icon_module_item_default_30"></span>
            <h1 class="title_module_item_default">机械制造</h1>
            <div class="text_module_item_default">
              <p>商品销售 在线预订</p>
              <p>门店展示 招商咨询</p>
            </div>
          </dt>
          <dd class="wx_module_item_hover wx_module_item_hover_30 moveRight">
            <div class="text_module_item_hover">
              <div class="w50w">
                <p>配件展示</p>
                <p>在线销售</p>
              </div>
              <div class="w50w">
                 <p>渠道在线加盟招商</p> 
              </div>
              <a href="/home/myregister/" target="_blank" class="btn_module_item">免费注册</a>
            </div>
          </dd>
        </dl>
      </div>
      <p class="foldbtn fold_off" title="点我展开，查看更多行业版信息^_^">展开更多 ↓</p>
  </div>
    <!-- 20171128修改 end -->


  <div class="wx_bg wx_over">
    <div class="wx_box">
        <!--
        <p class="wx_blue">更多版本： 数码家电、家居家纺、日用百货、婚庆服务、婚纱摄影、旅游、房产、金融、医疗健康、健身运动、洗浴按摩、家政服务、票务、KTV、酒店.</p>-->
      <p class="wx_white font28 wx_center mt30">小程序优势</p>
      <div class="wx_yuan">
        <p class="wx_yuan_txt_1">
          共享微信全生态
          <br>触手可及微信9亿用户</p>
        <p class="wx_yuan_txt_2">
          用户无需安装
          <br>用完即走,降低使用门槛</p>
        <p class="wx_yuan_txt_3">
          全新的用户体验
          <br>效果堪比原生APP</p>
        <p class="wx_yuan_txt_4">
          拓展业务场景
          <br>连接更多线上与线下服务</p>
      </div>
    </div>
  </div>
  
  <div class="wx_bg1 wx_over">
    <div class="wx_box">
      <p class="wx_white font28 wx_center mt30">适用商户</p>
      <ul class="wx_kehu_list wx_clr">
        <li>
          <p class="wx_kehu wx_ke_1"></p>
          家具家纺
        </li>
        <li>
          <p class="wx_kehu wx_ke_2"></p>
          医疗健康
        </li>
        <li>
          <p class="wx_kehu wx_ke_3"></p>
          美容养生
        </li>
        <li>
          <p class="wx_kehu wx_ke_4"></p>
          生鲜果蔬
        </li>
        <li>
          <p class="wx_kehu wx_ke_5"></p>
          茶饮酒水
        </li>
        <li>
          <p class="wx_kehu wx_ke_6"></p>
          门店
        </li>
        <li>
          <p class="wx_kehu wx_ke_7"></p>
          美妆
        </li>
        <li>
          <p class="wx_kehu wx_ke_8"></p>
          礼品鲜花
        </li>
        <li>
          <p class="wx_kehu wx_ke_9"></p>
          蛋糕烘培
        </li>
        <li>
          <p class="wx_kehu wx_ke_10"></p>
          服装鞋帽
        </li>
        <li>
          <p class="wx_kehu wx_ke_11"></p>
          日用百货
        </li>
        <li>
          <p class="wx_kehu wx_ke_12"></p>
          汽车服务
        </li>
        <li>
          <p class="wx_kehu wx_ke_13"></p>
          教育培训
        </li>
        <li>
          <p class="wx_kehu wx_ke_14"></p>
          亲子母婴
        </li>
        <li>
          <p class="wx_kehu wx_ke_15"></p>
          图书音像
        </li>
        <li onclick="goTalk();" style="cursor: pointer;">
          <p class="wx_kehu wx_ke_16"></p>
          更多
        </li>
      </ul>
    </div>
  </div>

  <div class="wx_bg wx_over">
    <div class="wx_plan">
      <div class="wx_plan_box">
        <p class="wx_plan_txt_1">
          代注册
          <br>小程序帐号</p>
        <p class="wx_plan_txt_2">
          代申请
          <br>微信支付</p>
        <p class="wx_plan_txt_3">
          代申请
          <br>附近的小程序</p>
        <p class="wx_plan_txt_4">
          代申请
          <br>微信认证</p>
        <p class="wx_white1 font24 wx_center">服务费用：￥600 不包括微信认证的费用￥300</p>
        <a href="/guestbook/show/" class="wx_plan_btn">立即咨询</a>
      </div>
    </div>
  </div>
 
<script src="/static/wx/js/jquery20171027.js"></script>


<script>
    
    $(function(){
        
              
        //更多版本：展开和收起
        $(".foldbtn").click(function(){
            if($(this).hasClass("fold_off")){
                $(this).removeClass("fold_off").addClass("fold_on");
                $(this).parent(".wx_module_w").animate({ height: "1150px"},1000);
                $(this).parent(".wx_module_w").find(".wx_module_list").animate({height:"1150px"},1000);
                $(".foldbtn").animate({"line-height":"60px"},1000);
                $(this).text("收起更多 ↑");
                $(this).attr("title","点我收起更多^_^");
            }else{
                $(this).removeClass("fold_on").addClass("fold_off");
                $(this).parent(".wx_module_w").animate({ height: "460px"},1000);
                $(this).parent(".wx_module_w").find(".wx_module_list").animate({height:"440px"},1000);
                $(".foldbtn").animate({"line-height":"100px"},1000);
                $(this).text("展开更多 ↓");
                $(this).attr("title","点我展开，查看更多行业版信息^_^");
            }
        })
        
        
    });
       
</script>

    <script src="/static/web/js/all.js"></script>
    <link rel="stylesheet" href="/static/web/css/css.css">
    <!--服务流程-->
    {% include 'home_1/Serviceflow.html' %}
{% endblock %}
