{% extends 'home_1/__base__.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title>Bootstrap 实例 - 下拉菜单（Dropdowns）</title>
    

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>

    <script type="text/javascript" charset="utf-8" src="/static/edit/js/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/edit/js/editor_api.js"></script>
    <script>
        $(function(){
            UE.getEditor('content');

            var validator = $("#myform").submit(function() {
                UE.getEditor('content').sync();
            }).validate({
                        ignore: "",
                        rules: {
                            title: "required",
                            content: "required"
                        },
                        errorPlacement: function(label, element) {
                            label.insertAfter(element.is("textarea") ? element.next() : element);
                        }
                    });
            validator.focusInvalid = function() {
                if( this.settings.focusInvalid ) {
                    try {
                        var toFocus = $(this.findLastActive() || this.errorList.length && this.errorList[0].element || []);
                        if (toFocus.is("textarea")) {
                            UE.getEditor('content').focus()
                        } else {
                            toFocus.filter(":visible").focus();
                        }
                    } catch(e) {
                    }
                }
            }
        })
    </script>
    <style type="text/css">
        body {
            margin-top:100px;
        }
    </style>

</head>
<body>


<form  action="/guestbook/reply/"  method="post" style=" padding-left:120px;">
   
     {% csrf_token %}

    <label>留言标题:</label>{{title}}
    <input type="text" name="title" value="{{title}}" style="display:none"><br/>
    <label>回复内容:</label>
    <textarea id="content" name="content" style="width: 80%;height:338px;" ></textarea>

    <br/>
    <input class="btn btn-info" type="submit" name="save" value="提 交" />
</form>

</body>
</html>
{% endblock %}
