{% extends 'home_1/__base__.html' %}
{% block content %}
                       
<div style="padding-left:20px;padding-top:100px;width:80%">
    {% for guestbook in replys %}
        <div style="border:1px #ccc solid;padding-left:4px;padding-top:10px;word-wrap:break-word;overflow:auto ">
			<i class="fa fa-heart-o fa-1x"></i>                
			回复时间：{{ guestbook.date|date:'Y-m-d H:i:s' }} 回复者：{{ guestbook.username }}<br>
			标题：{{ guestbook.title }}<br>
			回复内容：<br>
			{{ guestbook.content|safe }}  
           
		</div><br> 
            
	{% endfor %}                    
</div> 
<a class="btn btn-xs btn-info" href="/guestbook/show/">返 回</a>
<div style="padding-left:520px;"">{% include 'home_1/djangopage.html' %}  </div> <!--分页-->  
  
{% endblock %}