{% extends 'home_1/__base__.html' %}
{% block content %}
<style type="text/css">
    p{
        font-size:20px;
    }

</style>
                       
<div style="padding-left:120px;padding-top:120px;width:80%"> 

        {% for guestbook in guestbooks %}


留言者：{{ guestbook.username }}&nbsp;&nbsp;&nbsp;&nbsp;
留言时间：{{ guestbook.date|date:'Y-m-d H:i:s' }}&nbsp;&nbsp;&nbsp;&nbsp;   
             
                {% if guestbook.state == 0  %}
                
                    {% if user.username == 'admin' %}
                    回复状态：<a href='/guestbook/gettitle/?title={{ guestbook.title }}' ><span style="color:#f00"><i class="fa fa-edit (alias) fa-1x"></i></span> 待回复</a>
                    {% else %}
                        回复状态：<span style="color:#f00"><i class="fa fa-cog fa-spin fa-1x"></i></span> 待回复
                    {% endif %}
                
                {% else %}
                
                   回复状态：
                        <a href='/guestbook/showreply/?title={{ guestbook.title }}'>
                            <span style="color:#3ACC3A"><i class="fa fa-check-square-o fa-1x"></i></span> 已回复
                        </a>
                    
                
                {% endif %}
<br>
标题：{{ guestbook.title}} &nbsp;&nbsp;&nbsp;&nbsp;  
<div style="border:1px #fff solid;padding-left:4px;padding-top:0px;word-wrap:break-word;overflow:auto ">{{ guestbook.content|safe }}  
</div> 
{% for reply in replys %}

    {% if guestbook.title == reply.title %}
        {% if reply.username != None %}
回复者：{{ reply.username }}&nbsp;&nbsp;&nbsp;&nbsp;
回复时间：{{ reply.date|date:'Y-m-d H:i:s' }}
<div style="border:1px #fff solid;padding-left:4px;padding-top:0px;word-wrap:break-word;overflow:auto ">
{{ reply.content|safe }}  
</div>
        {% endif %} 
    {% endif %} 
{% endfor %}    
<br><br> 



            
        {% endfor %}               
       
       
    </div> 
    
    
{% endblock %}

