{% extends 'home_1/__base__.html' %}
{% block content %}
<style type="text/css">
    p{
        font-size:20px;       
    }

</style>

 
                       
<div style="padding-left:120px;padding-top:0px;width:80%"> 

       

        {% for guestbook in guestbooks %}


留言者：{{ guestbook.username }}&nbsp;&nbsp;&nbsp;&nbsp;
留言时间：{{ guestbook.date|date:'Y-m-d H:i:s' }}&nbsp;&nbsp;&nbsp;&nbsp;   
             
                {% if guestbook.state == 0  %}
                
                    {% if user.username == 'admin' %}
                    回复状态：<a href='/guestbook/gettitle/?title={{ guestbook.title }}' ><span style="color:#f00"><i class="fa fa-edit (alias) fa-1x"></i></span> 待回复</a>
                    {% else %}
                        回复状态：<span style="color:#f00"><i class="fa fa-cog fa-spin fa-1x"></i></span> 待回复
                    {% endif %}
                
                {% endif %}
<br>
标题：{{guestbook.title}} <br>  
内容：{{guestbook.content|safe }}  

{% for reply in replys %}

    {% if guestbook.title == reply.title %}
        {% if reply.username != None %}
回复者：{{ reply.username }}&nbsp;&nbsp;&nbsp;&nbsp;
回复时间：{{ reply.date|date:'Y-m-d H:i:s' }}
<div style="border:1px #fff solid;padding-left:4px;padding-top:0px;word-wrap:break-word;overflow:auto ">
{{ reply.content|safe }}  
</div>
        {% endif %} 
    {% endif %} 
{% endfor %}    
<br><br> 



            
        {% endfor %}               
       
       
    </div> 
    <!-- <a class="btn btn-xs btn-info" href="/guestbook/create/">去留言</a> -->

    <div style="padding-left:520px;"">{% include 'home_1/djangopage.html' %}  </div> <!--分页-->


    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>

    <script type="text/javascript" charset="utf-8" src="/static/edit/js/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/edit/js/editor_api.js"></script>
    <script>
        $(function(){
            UE.getEditor('content');

            var validator = $("#myform").submit(function() {
                UE.getEditor('content').sync();
            }).validate({
                        ignore: "",
                        rules: {
                            title: "required",
                            content: "required"
                        },
                        errorPlacement: function(label, element) {
                            label.insertAfter(element.is("textarea") ? element.next() : element);
                        }
                    });
            validator.focusInvalid = function() {
                if( this.settings.focusInvalid ) {
                    try {
                        var toFocus = $(this.findLastActive() || this.errorList.length && this.errorList[0].element || []);
                        if (toFocus.is("textarea")) {
                            UE.getEditor('content').focus()
                        } else {
                            toFocus.filter(":visible").focus();
                        }
                    } catch(e) {
                    }
                }
            }
        })
    </script>

 <style type="text/css">
        body {
            margin-top:100px;
        }
    </style>

    {% include 'guestbook/ly.html' %}
    
{% endblock %}

