<div class="team-members s2" id="about">
	<div class="wrap"> 
		<div class="tm-head">
			<h3>公司简介</h3>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海鑫相信息科技有限公司多年来致力于网站建设、软件开发、系统开发、网站托管、微信小程序开发等服务项目。
多年来，始终秉承开拓创新的精神，坚持创造先进完善的建站体系，不仅研发了一系列适用于各行各业的智能建站软件，并已成功推广多个企业，产品市场前景广阔。本公司以其敏锐的市场洞察力、高品质的产品以及周到热情的服务使公司获得了客户的一致好评。我们是一个高素质的技术团队，凝聚了一批行业类年经、有活力的成员。他们在各自的阵地上有着出色的表现以及丰富的实战经验，更具魅力的是他们的创造力和奉献精神。我们愿意不仅要让客户满意，更要让客户感动，于客户一同成长！我们自信完成好客户的项目，我们运用良好的知名度和信誉度+丰富的网站建设经验+一流的咨询和网站开发团队+竞争力的价格+完整的网站产品解决方案，来满足客户于互联网时代的品牌推广需求，携助客户开拓市场，为企业的品牌建设、产品网络推广提供了最好的帮助与支持。经营理念：精益求精  诚信为先 客户至上 优质服务！发展目标：打造中国网站建设第一品牌。</p>
            <h3>我们的优势</h3>
            <p>专注高端定制、 品牌定位、 用心服务，帮您实现互联网品牌价值！</p>


		</div>
		<div class="tm-head-grids">
			<div class="tm-head-grid">
				<img src="/static/web/img/1zs.jpg" style="height:258px; ">
					<h4>省心</h4>
					<h5>设计、制作、托管一站式服务</h5>
						<ul class="top-social-icons">
							<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="twitter" href="#"> </a></li>
							<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
							<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="pintrest" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>


					<div class="tm-head-grid">
					
						<img src="/static/web/img/gs.jpg" style="height:258px; ">
					 	
						<h4>快速</h4>
						<h5>设计制作网站,7个工作日完成</h5>
						<ul class="top-social-icons">
							<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="twitter" href="#"> </a></li>
							<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
							<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="pintrest" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="tm-head-grid">
						<img src="/static/web/img/gj_1024.jpg" style="height:258px; ">
						<h4>效益高</h4>
						<h5>采用定价匹配策略，性价比高</h5>
						<ul class="top-social-icons">
							<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="twitter" href="#"> </a></li>
							<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
							<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="pintrest" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>

		
	</div>
</div>