{% extends 'home_1/__base__.html' %}
{% block content %}
  


	{% include 'guestbook/ly.html' %}


<xmp id='rectangle' style="font-size:20px;width:98%;margin-top:-16px;">
	【留言技巧】怎样留言才能让我的问题能更快速被解答？
	标题：简洁、易懂，完整表达主题；避免无意义、模糊、口语化标题；
	留言内容：
	一、技术方面的问题
    	1）客观描述问题：中性客观描述问题，保证问题的可读性，避免过于简单或模糊；
    	2）提供运行环境：问题描述注明运行环境信息，包括操作系统、语言、使用的软件版本等；
    	3）输出报错信息：过程中出现异常的话，需提供重现异常的步骤；
    	4）输出错误信息：编码过程中的技术问题出现错误应该输出日志或控制台的全部信息，以便更好排查错误。
	二、建设方面的问题
    	1）需求阐述清楚。
	三、注意：
    	1）不要在留言内容框里长篇粘入代码，只需粘出关键代码并加以描述即可；
    	2）标题不等于提问内容，标题应简明扼要，提问内容应详细描述，二者尽量不要重复；
    	3）排版规范合理：注意文本，代码，标点、语法使用规范，排版合理；
    	4）注意文明用语，尊重是有效解决问题的前提，对于人身攻击的问题管理员是有权隐藏的哦~
	回复做到：
	1）保证内容的准确性，不模糊，能实际解决提问者疑问；
	2）保证内容通俗易懂，语句通顺、有条理，排版利于阅读；
	3）保证内容全面，避免过于简单，可对回答做详细阐释、扩展和引导；
	4）保证内容与问题相关，避免所问非所答和过多的重复内容；
	5）添加图片或代码应附上说明，代码与图片对应并合理排版；
	核心思想：本着“授人以鱼不如授人以渔”的心来回答提问者的问题~ ^_^
</xmp> 

</div>

<div class="logos" style="background:#fff;  width:100%;padding-top:80px;">  

	<div > 
		<ul>
			<i class="fa fa-phone fa-5x" style="margin-left:170px"><p style="font-size:34px;margin-left:-70px">18893914998</p></i>

			<i class="fa fa-envelope fa-5x" style="margin-left:260px;"><p style="font-size:34px;margin-left:-180px">wu.chunlong@outlook.com</p></i>


			<li style="margin-right:240px;margin-top:-20px;height:120px; width:120px";><img src="/static/wx/images/wu_wx.jpg" />
			
			扫一扫联系我~
		</li>
		</ul>
		   		 	
	</div>
		   		 

</div>
{% endblock %}