<link rel="stylesheet" type="text/css" href="/static/web/css/style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                        
<div class="container" style="background:#f8bc3a;width:100%;">
    <div class="team-members row" style="background:#f8bc3a;padding-left:130px;"> 
        
        <a class="fb-touch"  href="/website/">
        <div class="single-member effect-1" style="width:330px;float: left;">
          <div class="member-image" style="color:#f8bc3a">
              <i class="fa fa-diamond fa-5x"></i>
            </div>
            
          <div class="member-info" >
              <h3>网站建设</h3>
              <h5>品牌定位 高端定制</h5>
              <p>工作流程：申请建设、制定方案、签署协议、付预付款30%、设计样稿、客户验收、达到设计要求、付全款、后期维护
        </p>
              <div class="social-touch">
                <!-- <a class="fb-touch" href="#"></a> -->
                <a class="tweet-touch" href="#"></a>
                <a class="linkedin-touch" href="#"></a>
              </div>
          </div>
        </div>
        </a>

        <a class="fb-touch"  href="/Trusteeship/">
        <div class="single-member effect-1" style="width:330px;float: left;">
          <div class="member-image" style="color:#f8bc3a">
              <i class="fa fa-heart-o fa-5x"></i>
            </div>
          <div class="member-info">
              <h3>网站托管</h3>
              <h5>设计 制作 托管，一站式服务</h5>
              <p>工作流程：申请托管、签署托管协议、按照协议付款、开始托管服务
        </p>
              <div class="social-touch">
                <!-- <a class="fb-touch" href="#"></a> -->
                <a class="tweet-touch" href="#"></a>
                <a class="linkedin-touch" href="#"></a>
              </div>
          </div>
        </div>
        </a>
        <a class="fb-touch"  href="/wx/">
        <div class="single-member effect-1" style="width:330px;float: left;">
          <div class="member-image" style="color:#f8bc3a">
              <i class="fa fa-weixin fa-5x"></i>
            </div>
          <div class="member-info">
              <h3>微信小程序</h3>
              <h5>设计开发审核全程服务</h5>
              <p>工作流程：申请微信小程序制作、签署协议、付预付款30%、设计样稿、客户验收、提交微信团队审核、客户再次验收、达到设计要求、付全款、后期维护
        </p>
              <div class="social-touch">
                <!-- <a class="fb-touch" href="#"></a> -->
                <a class="tweet-touch" href="#"></a>
                <a class="linkedin-touch" href="#"></a>
              </div>
          </div>
        </div>
        </a>
  </div>
</div>
