<div class="bottom-footer">
	<div class="wrap"> 
		<div class="bottom-footer-center">
			<ul class="bottom-social-icons">
				<li><a class="bottom-twitter" href="#"> </a></li>
				<li><a class="bottom-facebook" href="#"> </a></li>
				<li><a class="bottom-pin" href="#"> </a></li>
				<div class="clear"> </div>
			</ul>
		</div>	
		<div class="bottom-footer-left">
			<p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://wuchunlong.eastasia.cloudapp.azure.com/">http://wuchunlong.eastasia.cloudapp.azure.com/</a></p>
		</div>		  
		<div class="clear"> </div>
	</div>
</div>