{% extends 'home_1/__base__.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/cssEffect/99/css/style.css">
   <!--服务1-->
    {% include 'home_1/firstser.html' %}
  
 
  <!--网站套餐-->
    <article class="i_service i_packages page active">
      <section>
        <h2 class="i_tit fadein">网站套餐<span></span></h2>
        <p class="i_tips fadeleft">这里有符合各类型企业的网站套餐，专业设计品质保证。</p>
        <div class="hidebox">
          <ul class="fadeup">
            <li class="bjgreen"><a href="/website/">
              <figure>
                <figcaption>经济型 3880元</figcaption>
                <p>适合小企业</p>
                <p><img src="/static/web/icon_pake1.png"></p>
                <p>精美设计，内容丰富，网站以产品展示及信息发布为主，简单动态效果。</p>
              </figure>
              </a> </li>
            <li class="bjblue"> <a href="/website/">
              <figure>
                <figcaption>商务型 5680元</figcaption>
                <p>适合中小型企业</p>
                <p><img src="/static/web/icon_pake2.png"></p>
                <p>内容丰富，精心设计，注重网站品质，提升企业形象，扩大品牌影响。</p>
              </figure>
              </a> </li>
            <li class="bjqblue"> <a href="/website/">
              <figure>
                <figcaption>豪华型 8800元</figcaption>
                <p>适合大中型企业，适合大中型企业</p>
                <p><img src="/static/web/icon_pake3.png"></p>
                <p>内容丰富，精心设计，注重网站品质，专业级别的企业网站，提升....</p>
              </figure>
              </a> </li>
            <li class="bjyellow"> <a href="/website/">
              <figure>
                <figcaption>品牌型16800元</figcaption>
                <p>适合大中型企业、集团公司</p>
                <p><img src="/static/web/icon_pake4.png"></p>
                <p>内容丰富，顶尖设计，注重网站品质，专业级别的企业网站，提升....</p>
              </figure>
              </a> </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </section>
    </article>
    {% include 'home_1/aboutus.html' %}

   {% include 'home_1/services.html' %}
   <!--服务流程-->
    <section class="i_process page">
      <h2 class="i_tit fadein">服务流程<span></span></h2>
      <p class="i_tips faderight">专业的设计流程，精心的设计品质体现。</p>
      <div class="hidebox">
        <ul class="fadeup">
          <li>
            <figure> <img src="/static/web/icon_process1.png">
              <figcaption>建站申请</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/icon_process2.png">
              <figcaption>制定方案</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/icon_process3.png">
              <figcaption>签署协议</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/icon_process4.png">
              <figcaption>付预付款</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/icon_process5.png">
              <figcaption>设计样稿</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/icon_process6.png">
              <figcaption>客户验收</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/icon_process7.png">
              <figcaption>后期维护</figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </section>

{% endblock %}