<a href="/" class="subNavBtn">主页</a>
<a href="/about/" class="subNavBtn">关于我们</a> 
<a href="/website/"  class="subNavBtn">网站建设</a>
<a href="/Trusteeship/"  class="subNavBtn">网站托管</a>
<a href="/wx/"  class="subNavBtn">小程序</a>
<a href="/guestbook/show/"  class="subNavBtn">登录留言</a>
<a href="/contact/"  class="subNavBtn">联系我们</a>
			    	
{% if user.username %}
   <a href="" class="subNavBtn" style="margin-left:400px; ">{{ user.username }}</a> <a href="/logout/" class="subNavBtn" > 注销</a>	  
{% else %}		    
	<a href="/home/mylogin/" class="subNavBtn" style="margin-left:400px; "> 登录</a>	  
    <a href="/home/myregister/" class="subNavBtn" > 注册</a>
{% endif %}
