<style type="text/css">
.backg {
  background:#fff;
}
</style>
<div class="backg">
<!--服务流程-->
    <section class="i_process page">
      <h2 class="i_tit fadein">服务流程<span></span></h2>
      <p class="i_tips faderight">专业的设计流程，精心的设计品质体现。</p>
      <div class="hidebox">
        <ul class="fadeup">
          <li>
            <figure> <img src="/static/web/img/icon_process1.png">
              <figcaption>申请建设</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/img/icon_process2.png">
              <figcaption>制定方案</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/img/icon_process3.png">
              <figcaption>签署协议</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/img/icon_process4.png">
              <figcaption>付预付款</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/img/icon_process5.png">
              <figcaption>设计样稿</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/img/icon_process6.png">
              <figcaption>客户验收</figcaption>
            </figure>
          </li>
          <li>
            <figure><img src="/static/web/img/icon_process7.png">
              <figcaption>后期维护</figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </section>
</div>