
<script src="/static/web/js/jquery-1.js"></script>
<script src="/static/web/js/all.js"></script>

<link rel="stylesheet" href="/static/web/css/css.css">


<!--loading-->


<div class="bodybox"> 
  
  
  <!--顶部和导航 end--> <!--网站主题-->
  <main style="padding-top: 70px;"> 
    
<div class="subnavbox"><article class="subnav page active" style="top: 90px;"><nav class="fadein">
<ul>
<li data-id="level1"><a class="act" href="javascript:;">经济型</a> 
</li><li data-id="level2"><a href="javascript:;">商务型</a> 
</li><li data-id="level3"><a href="javascript:;">豪华型</a> 
</li><li data-id="level4"><a href="javascript:;">品牌型</a> </li></ul></nav></article></div><!--网站建设类型--><article class="desing"><!-- 经济型-->
<section id="level1" class="list page active">
<div class="names faderight">
<h4>经济型</h4>
<p>适合小企业</p>
<p class="img"><img src="/static/web/img/wjicon1.png"></p></div>
<div class="biaos fadeleft">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<th scope="row" width="12%">适用客户 </th>
<td width="88%"><strong>适合小企业</strong>：精美设计，内容丰富，网站以产品展示及信息发布为主，简单动态效果 </td></tr>
<tr>
<th scope="row">网站备案</th>
<td>免费（需客户配合提供相关材料）</td></tr>
<tr>
<th scope="row">免费赠送</th>
<td>500M独立高速空间 </td></tr>
<tr>
<th scope="row">页面制作 </th>
<td><strong>1</strong>、综合首页<br><strong>2</strong>、局部小动画1-2个<br><strong>3、8个以内栏目页面，高级设计师精美标创意设计 </strong></td></tr>
<tr>
<th scope="row">功能模块</th>
<td>企业简介+产品展示+新闻发布+人才招聘+成功案例+在线留言+友情链接+站内搜索系统+网站后台管理（二级以内分类，50个以内产品资料添加） </td></tr>
<tr>
<th scope="row">制作周期 </th>
<td>10至15个工作日（客户资料准备齐全）</td></tr>
<tr>
<th scope="row">网站维护</th>
<td>维护包括网站的资料备份，查杀病毒，故障排除，图片发布文字更新，及保证网站的正常运行等服务,不包含页面风格和模板的改动，如有改版，需另收费。</td></tr>
<tr>
<th scope="row">网站推广</th>
<td>各个搜索引擎登记，成为聚尚合作成功案例。 </td></tr>
<tr>
<th scope="row">站外代码 </th>
<td>免费统计代码、地图标注代码、在线QQ、TQ洽谈通等页面交谈工具代码免费嵌入 </td></tr>
<tr>
<th scope="row">收费标准</th>
<td><span class="STYLE1">3880元&nbsp;&nbsp; 如有特殊要求,请联系客服 手机18893914998（微信18893914998）QQ3529688574</span></td></tr></tbody></table></div>
<div class="clearfix"></div></section>
<div class="bjf7"><section id="level2" class="list page active">
<div class="names faderight">
<h4>商务型</h4>
<p>适合中小型企业</p>
<p class="img"><img src="/static/web/img/wjicon2.png"></p></div>
<div class="biaos fadeleft">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<th scope="row" width="12%">适用客户 </th>
<td width="88%"><strong>适合中小型企业</strong>：内容丰富，精心设计，注重网站品质，提升企业形象，扩大品牌影响</td></tr>
<tr>
<th scope="row">网站备案</th>
<td>免费（需客户配合提供相关材料） </td></tr>
<tr>
<th scope="row">免费赠送</th>
<td><strong>800M独立高速空间 </strong></td></tr>
<tr>
<th scope="row">页面制作 </th>
<td><strong>1</strong>、综合首页（或简单Flash效果的形象引导页）<br><strong>2</strong>、局部小动画1-3个<br><strong>3、15个以内栏目页面，资深设计师精心设计制作</strong></td></tr>
<tr>
<th scope="row">功能模块</th>
<td>企业简介+产品展示+新闻发布（可以定制二级分类）人才招聘+视频展示+在线下载+成功案例+友情链接+站内搜索系统+网站后台管理（二级以内分类，80个以内产品资料添加，包含以上套餐所有功能）</td></tr>
<tr>
<th scope="row">制作周期 </th>
<td>15至20个工作日（客户资料准备齐全）</td></tr>
<tr>
<th scope="row">网站维护</th>
<td>维护包括网站的资料备份，查杀病毒，故障排除，图片发布文字更新，及保证网站的正常运行等服务,不包含页面风格和模板的改动，如有改版，需另收费。</td></tr>
<tr>
<th scope="row">网站推广</th>
<td>各个搜索引擎登记，成为聚尚合作成功案例。 </td></tr>
<tr>
<th scope="row">站外代码 </th>
<td>免费统计代码、地图标注代码、在线QQ、TQ洽谈通等页面交谈工具代码免费嵌入 </td></tr>
<tr>
<th scope="row">收费标准</th>
<td><span class="STYLE1">5680元&nbsp; 如有特殊要求,请联系客服 手机18893914998（微信18893914998）QQ3529688574</span></td></tr></tbody></table></div>
<div class="clearfix"></div></section></div><section id="level3" class="list page active">
<div class="names faderight">
<h4>营销型/豪华型</h4>
<p>适合大中型企业</p>
<p class="img"><img src="/static/web/img/wjicon3.png"></p></div>
<div class="biaos fadeleft">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<th scope="row" width="12%">适用客户 </th>
<td width="88%"><strong>适合大中型企业</strong>:内容丰富，精心设计，注重网站品质，专业级别的企业网站，提升企业形象，扩大品牌影响</td></tr>
<tr>
<th scope="row">网站备案</th>
<td>免费（需客户配合提供相关材料） </td></tr>
<tr>
<th scope="row">免费赠送</th>
<td><strong>500M独立高速空间 </strong></td></tr>
<tr>
<th scope="row">页面制作 </th>
<td><strong>1</strong>、综合首页（或大幅动画形象引导页）<br><strong>2</strong>、局部小动画1-3个<br><strong>3、30个以内栏目页面，首席设计师精心设计制作</strong> </td></tr>
<tr>
<th scope="row">功能模块</th>
<td>企业简介+会员管理+产品展示+新闻发布（可以定制行业新闻和公司新闻分类）人才招聘+视频展示+在线下载+在线订单+留言板+成功案例+招商加
盟+友情链接+站内搜索系统+网站后台管理（二级以内分类，100个以内产品资料添加，最大可定制三级分类，包含以上套餐所有功能）</td></tr>
<tr>
<th scope="row">制作周期 </th>
<td>20至30个工作日（客户资料准备齐全） </td></tr>
<tr>
<th scope="row">网站维护</th>
<td>维护包括网站的资料备份，查杀病毒，故障排除，图片发布文字更新，及保证网站的正常运行等服务,不包含页面风格和模板的改动，如有改版，需另收费。</td></tr>
<tr>
<th scope="row">网站推广</th>
<td>各个搜索引擎登记，成为聚尚合作成功案例。 </td></tr>
<tr>
<th scope="row">站外代码 </th>
<td>免费统计代码、地图标注代码、在线QQ、TQ洽谈通等页面交谈工具代码免费嵌入 </td></tr>
<tr>
<th scope="row">收费标准</th>
<td><span class="STYLE1">8800元&nbsp; 多年优惠价格请联系客服 手机18893914998（微信18893914998）QQ3529688574</span></td></tr></tbody></table></div>
<div class="clearfix"></div></section>
<div class="bjf7"><section id="level4" class="list page active">
<div class="names faderight">
<h4>品牌型</h4>
<p>适合大中型企业、集团公司</p>
<p class="img"><img src="/static/web/img/wjicon4.png"></p></div>
<div class="biaos fadeleft">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<th scope="row" width="12%">适用客户 </th>
<td width="88%"><strong>适合大中型企业、集团公司</strong>，内容丰富，顶尖设计，注重网站品质，专业级别的企业网站，提升企业形象，扩大品牌影响，拓展海内外潜在市场的企业。</td></tr>
<tr>
<th scope="row">网站备案</th>
<td>免费（需客户配合提供相关材料）</td></tr>
<tr>
<th scope="row">免费赠送</th>
<td><strong>500M独立高速空间</strong></td></tr>
<tr>
<th scope="row">页面制作 </th>
<td><strong>1</strong>、综合首页（或大幅动画形象引导页）<br><strong>2</strong>、局部小动画1-3个<br><strong>3、40个以内栏目页面，设计总监精心设计制作</strong></td></tr>
<tr>
<th scope="row">功能模块</th>
<td>会员管理+商品展示+产品订单系统+企业供求信息发布+客户反馈留言系统+流量统计+记数器+广告系统+调查问卷系统+评论系统+网站后台管理（包含以上套餐所有功能，具体情况跟据客户网站的类型,功能模块有所变动!以双方协商为准）</td></tr>
<tr>
<th scope="row">制作周期 </th>
<td>根据工作量大小而定</td></tr>
<tr>
<th scope="row">网站维护</th>
<td>无需触动页面模板及程序的更新服务、工作日24小时内完成，一年内免费。</td></tr>
<tr>
<th scope="row">网站推广</th>
<td>各个搜索引擎登记，成为聚尚合作成功案例。 </td></tr>
<tr>
<th scope="row">站外代码 </th>
<td>免费统计代码、地图标注代码、在线QQ、TQ洽谈通等页面交谈工具代码免费嵌入 </td></tr>
<tr>
<th scope="row">收费标准</th>
<td><span class="STYLE1">16800元起&nbsp; (视网站模块及程序功能开发的多少难度而定) 多年优惠价格请联系客服 手机18893914998（微信18893914998）QQ3529688574</span></td></tr></tbody></table></div>
<div class="clearfix"></div></section></div></article>
  </main>
  
</div>

